

<h1 style="text-align:center">게시판</h1>
<div class="container">
  <h3>제목</h3>
  <div class="list-group">
    <button type="button" class="list-group-item"><%=@post.title%></button>
  </div>

  <h3>내용</h3>
  <div class="list-group">
    <button type="button" class="list-group-item"><%=@post.content%></button>
  </div>

  <h3>댓글</h3>
  <% @post.comments.each do |c|%>
    <div class="list-group">
      <button type="button" class="list-group-item"><%=c.content%></button>
      <p style="text-align:right">작성자 : <%=c.user.email%></p>
      <%if current_user==c.user%>
        <a href="/post/read/<%= c.id%>/comment_destroy">삭제</a>
        <a href="/post/read/<%=c.id%>/comment_edit">수정</a>
      <% end %>
    </div>
  <%end%>

  <form action="/post/read/<%=@post.id%>/comment_create" >
    <div class="form-group">
      <label for="exampleInputEmail1">댓글</label>
      <input type="text" name="content" class="form-control" id="exampleInputEmail1" placeholder="댓글달기">
      <button type="submit" class="btn btn-default">댓글달기</button>
    </div>
  </form>
</div>

<div class="container">
  <a class="btn btn-default" href="/" role="button" style="float:right">뒤로가기</a>
  <%if current_user==@post.user%>
  <form action="/post/destroy/<%=@post.id%>">
  <button class="btn btn-default"style="float:right">삭제</button>
  </form>
  <form action="/post/edit/<%=@post.id%>">
    <button class="btn btn-default"style="float:right">수정</button>
  </form>
      <% end %>
</div>