<!DOCTYPE html>
<html>
  <head>
    <title>병훈</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <% if user_signed_in? %>
        <p style="text-align:right">유저 : <%= current_user.email %></p>
        <a href="/users/sign_out" data-method="delete" style="float:right">로그아웃</a>
    <%else%>
        <a href="/users/sign_in">로그인</a>
        <a href="/users/sign_up">회원가입</a>
    <% end %>

  </div>
    <%= yield %>
  </body>
</html>
